{% extends 'layout.twig' %}


{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h1><i class="fa fa-fw fa-youtube"></i> Video</h1>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/CAFcbULXVeY" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
        <div class="col-lg-12">
            <h1><i class="fa fa-fw fa-laptop"></i> About us</h1>
            <p>
            The <b>Yuniko Inteligencia Solutions Inc.</b> was founded last December 2013. It is formerly known as ACG Solutions.
            It was developed by PPG w/ LOLO. This project was created for 6 months. It's first user was Sherie Anne's in 2014.
            </p>
            <p>The company took its way in finding solutions for manual raffle system. It was observed that manual raffle draw is not secured, participants doesn't have equal chances of winning. By then, the company started to developed a system to eliminate unwanted errors in having manual process.</p>
            <p>It was February 2015 when the system was formally launched &amp; brought to market. Now, the company offers, electronic raffle system to give justification to those problem that was stated.</p>
            <p>Yuniko Inteligencia was owned by PPG w/ LOLO who where graduates of Bachelor of Science in Information Technology. Namely; Charlotte Alinio Gatchalian -- Chief System Engineer, Glenbern Apostol Daed -- Senior System Architect, Aleko Villalobos Destacamento -- Chief System Consultant, &amp; John Axl Arana Quinguero -- Chief System Analyst.</p>
        </div>
        <div class="col-lg-12">
            <h1><i class="fa fa-fw fa-users"></i> Contact us</h1>
            <p style="text-decoration:underline"><i class="fa fa-lg fa-fw fa-map-marker"></i> Binalbagan, Negros Occidental</p>
            <p><i class="fa fa-lg fa-fw fa-phone-square"></i> (034) 388-77-89</p>
            <p><i class="fa fa-lg fa-fw fa-phone-square"></i> (034) 742-45-55</p>
            <p><i class="fa fa-lg fa-fw fa-mobile"></i> (+63) 9278886069</p>
            <p><i class="fa fa-lg fa-fw fa-mobile"></i> (+63) 9289998485</p>
            <p><a href="mailto:charlottegatchalian@gmail.com"><i class="fa fa-lg fa-fw fa-envelope-square"></i> charlottegatchalian@gmail.com</a></p>
            <p><a href="mailto:glenberndaed@gmail.com"><i class="fa fa-lg fa-fw fa-envelope-square"></i> glenberndaed@gmail.com</a></p>
            <p><a href="mailto:alekodestacamento@gmail.com"><i class="fa fa-lg fa-fw fa-envelope-square"></i> alekodestacamento@gmail.com</a></p>
            <p><a href="mailto:johnaxl@gmail.com"><i class="fa fa-lg fa-fw fa-envelope-square"></i> johnaxl@gmail.com</a></p>
        </div>
    </div>
</div>
<br>
<div class="col-lg-12">
    <div style="width:100%;padding:0;margin:0;min-height:250px;"></div>
</div>
{% endblock %}