<div class="col-lg-12">
    <div class="btn-group" role="group" aria-label="...">
      <a href="{{ baseUrl }}" class="btn btn-default"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="#" class="btn btn-default"><i class="fa fa-fw fa-empire fa-spin"></i> Raffle Draw</a>
      <a href="#" class="btn btn-default"><i class="fa fa-fw fa-users"></i> About us</a>
    </div>
</div>