<ul class="list-group">
    <a href="{{ path('dashboard') }}" class="list-group-item">
        <span class="badge"><i class="fa fa-fw fa-database"></i></span>
        Dashboard
    </a>
    <a href="{{ path('raffle_overview') }}" class="list-group-item">
        <span class="badge"><i class="fa fa-fw fa-empire"></i></span>
        Raffle Settings
    </a>
    <a href="#" class="list-group-item">
        <span class="badge"><i class="fa fa-fw fa-trophy"></i></span>
        Winners Settings
    </a>
    <a href="#" class="list-group-item">
        <span class="badge"><i class="fa fa-fw fa-trophy"></i></span>
        Consolations Settings
    </a>
    <a href="#" class="list-group-item">
        <span class="badge"><i class="fa fa-fw fa-users"></i></span>
        Manage users
    </a>
</ul>