<div class="modal fade" id="userModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">New User</h4>
      </div>
      <form action="{{ path('admin_reg_user') }}" data-action="{{ path('admin_reg_user') }}" method="POST">
      <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="firstname"><small>Firstname</small></label>
                        <input type="text" id="firstname" name="firstname" class="form-control" value="" placeholder="Juan" autofocus required/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="lastname"><small>Lastname</small></label>
                        <input type="text" id="lastname" name="lastname" class="form-control" value="" placeholder="Dela Cruz" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="email"><small>Email</small></label>
                        <input type="email" id="email" class="form-control" name="email" placeholder="user@raffle.com" required/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="role">Role</label>
                        <select id="role" name="role" class="form-control">
                            <option value="ROLE_USER">User</option>
                            <option value="ROLE_ENCODER">Encoder</option>
                            <option value="ROLE_ADMIN">Administrator</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="password"><small>Password</small></label>
                        <input type="password" id="password" class="form-control" name="password" placeholder="Password" required/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="c_password"><small>Confirm Password</small></label>
                        <input type="password" id="c_password" class="form-control" name="c_password" placeholder="Confirm Password" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="mobile"><small>Phone # / Telephone #</small></label>
                        <input type="text" id="mobile" class="form-control" name="mobile" placeholder="+6390 123 4567 / 744-6200" required/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="birthday"><small>Birthday</small></label>
                        <input type="date" id="birthday" class="form-control" name="birthday" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="address"><small>Address</small></label>
                <textarea id="address" name="address" class="form-control" required></textarea>
            </div>
      </div>
      <div class="modal-footer">
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="submit" name="sign_up" value="2" class="btn btn-primary">Sign Up</button>
            <button type="submit" name="sign_up" value="5" class="btn btn-success">Sign Up &amp; Activate</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->