<div class="modal fade" id="forgotPassword">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title">Reset Password</h4>
  </div>
  <div class="modal-body">
	<form role="form" action="{{ path('reset-password') }}" method="POST">
		<div class="form-group">
			<label for="email"><small>Email</small></label>
			<input type="email" name="email" id="email" class="form-control" required/>
			<small>The email you use when you register. We will send you an instruction on how to reset your password.</small>
		</div>
		<button type="submit" class="btn btn-primary">Reset</button>
	</form>
  </div>
  <div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->