Hello,
<br/>
<br/>
To reset / change your password kindly click the link below:
<br/>
<a href="{{ url }}">Reset / Change Password</a>
<br/>
<br/>
Note: The link to reset your password will only be usable once. After you've changed your password successfully the link above will be unusable.